#gif_button {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 32px;
    height: 33px;
    background-color: red;
}

#gif_container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 250px;
    height: 400px;
    background-color: red;
    display: none;
    box-shadow: 0 0 10px #000;
}

#gif_modal {
    background-color: yellow;
    z-index: 1000;
    width: 100%;
}

#gif_large {
    width: 100%;
}

#gif_loading {
    display: none;
    height: 0px;
    position: relative;
    top: 0px;
}

#gif_actions {
    background-color: white;
    position: fixed;
    bottom: 0px;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gif_actions a {
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    font-family: Helvetica;
}

input {
    font-size: 1.4em;
    width: 95%;
}

form {
    padding: 10px;
}


#gif_forms {
    display: none;
}